.root {
    -fx-font-family: Arial,sans-serif;
    -fx-background-color: #f5f6fa;
}

.label {
    -fx-text-fill: #2d3436;
}

.button {
    -fx-background-radius: 5;
    -fx-background-color: #0984e3;
    -fx-text-fill: white;
    -fx-padding: 7 18;
}
.button:hover {
    -fx-background-color: #74b9ff;
    -fx-text-fill: #222;
}
.table-view {
    -fx-background-color: white;
}
.table-row-cell:selected {
    -fx-background-color: #74b9ff;
}
